.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(73, 90, 99)
}

.iphone {
    width: 360px;
    height: 756px;
    background: #f9f7f9;
    border: 5px solid #c1bfc1;
    border-radius: 45px;
    opacity: 0.8;
}


.highlight {
  width: 352px;
  height: 748px;
  border: 3px solid #fff;
  border-radius: 45px;
  position: relative;
  z-index: 10;
  top: -1485px;
  left: 6px;
}

.circle {
    width: 11px;
    height: 11px;
    background: #333;
    border-radius: 50%;
    position: relative;
    left: 175px;
    top: 12px;
}

.camera {
    width: 14px;
    height: 14px;
    background: #333;
    border-radius: 50%;
    position: relative;
    left: 116px;
    top: 17px;
}

.speaker {
    width: 61px;
    height: 6px;
    background: #333;
    border-radius: 5px;
    position: relative;
    left: 151px;
    top: 8px;
}

.screen {
    width: 326px;
    height: 585px;
    border: 3px solid #333;
    border-radius: 5px;
    position: relative;
    left: 13px;
    top: 33px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #128c7e;
}

.home1 {
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    position: relative;
    left: 154px;
    top: 54px;
    z-index: 2;
}

.home2 {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    position: relative;
    left: 150px;
    background: #7f8282;
    background: linear-gradient(#e2e3e4, #7f8282);
}

@media (min-width: 320px) and (max-width: 900px) {
  .outerContainer {
    height: 100%;
    align-items: center;
    flex-direction: column;
  }

  .iphone {
    margin-top: 4rem;
  }
}

